.container-content{

  width: 100%;
  height: 100vh;

  margin-top: 25px;

  display: flex;
  flex-direction: column;

  align-items: center;

}



.cover-content>img{
  border: 5px solid rgb(165, 165, 165);
  border-radius: 5px;
  width: 500px;
  height: 400px;
  min-width: 500px;
}

.description-content{
  margin-top: 20px;
}

.description-content>p{
  margin-top: 15px;
  color: rgb(165, 165, 165);
}
